server:
   port: 8888

spring:
  cloud:
    config:
      server: 
        git:
          skip-ssl-validation: true
          uri: https://github.com/palma145/config-second-level
          searchPaths: second-level
          
management:
   endpoints:
      web:
         exposure:
            include: '*'